### 1.a

In [4]:
def F(n):
    alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"  
    
    for i in range(1,n+1):
        dash='-'*(n - i)
        desc=""
        for j in range(i-1,-1,-1):
            desc+=alphabet[j]
        
        asc = ""
        for j in range(1,i):
            asc+=alphabet[j]
        #concatenating        
        tot=dash+desc+asc+dash
        
        print(tot)

# Tests
F(6)  
print(" ")
F(10)

-----A-----
----BAB----
---CBABC---
--DCBABCD--
-EDCBABCDE-
FEDCBABCDEF

---------A---------
--------BAB--------
-------CBABC-------
------DCBABCD------
-----EDCBABCDE-----
----FEDCBABCDEF----
---GFEDCBABCDEFG---
--HGFEDCBABCDEFGH--
-IHGFEDCBABCDEFGHI-
JIHGFEDCBABCDEFGHIJ

### 1.b

In [18]:
#I am using keyword lambda to avoid making 3 different functions
def F(d: dict):
    #key values ascending sorting
    key_asc= sorted(d.items(),key=lambda i:i[0])
    for i in key_asc:
        key=i[0]
        key_=str(key)
        x=i[1][0]
        x_=str(x)
        y=i[1][1]
        y_=str(y)
        print("-"+key_+", - "+x_+ ", - " +y_+" -")

    #x values descending sorting
    x_desc=sorted(d.items(), key=lambda j: j[1][0], reverse=True) #reverse=True for descending sorting
    for j in x_desc:
        key=j[0]
        key_=str(key)
        x=j[1][0]
        x_=str(x)
        y=j[1][1]
        y_=str(y)
        print("-"+key_+", - "+x_+ ", - " +y_+" -")

    #y values ascending sorting
    y_asc = sorted(d.items(), key=lambda k: k[1][1])
    for k in y_asc:
        key=k[0]
        key_=str(key)
        x=k[1][0]
        x_=str(x)
        y=k[1][1]
        y_=str(y)
        print("-"+key_+", - "+x_+ ", - " +y_+" -")

# Tests
F({1 : (1, 2), 2 : (-1, 4), 5 : (-4, 3), 4 : (2, 3)})
print("")
F({-8 : (4, 2), 6 : (-3, 4), 7 : (2, 1), 5 : (9, -10)})

-1, - 1, - 2 -
-2, - -1, - 4 -
-4, - 2, - 3 -
-5, - -4, - 3 -
-4, - 2, - 3 -
-1, - 1, - 2 -
-2, - -1, - 4 -
-5, - -4, - 3 -
-1, - 1, - 2 -
-5, - -4, - 3 -
-4, - 2, - 3 -
-2, - -1, - 4 -

--8, - 4, - 2 -
-5, - 9, - -10 -
-6, - -3, - 4 -
-7, - 2, - 1 -
-5, - 9, - -10 -
--8, - 4, - 2 -
-7, - 2, - 1 -
-6, - -3, - 4 -
-5, - 9, - -10 -
-7, - 2, - 1 -
--8, - 4, - 2 -
-6, - -3, - 4 -

#### 2 Working with Student Records

### 2.a

In [26]:
import pandas as pd

df=pd.read_csv(r"C:\Users\Mahima\Downloads\student_records.csv")

print(df.head(10))

   roll_number department  credit course_name      course_type grade
0       588946         MA       3       EC250  hasmed_elective    AB
1       145372         EP       4       EP407  hasmed_elective    CC
2       834515         MA       8       EP885  hasmed_elective    BB
3       344265        CSE       6      CSE699          honours    AB
4       358405         MA       3       EE460            minor    AP
5       781075         CE       8       CE540          honours    CC
6       180828        CSE       6       CE880            minor    AB
7       981238         MM       4      CSE226            minor    AB
8       836881         MM       8       MM530             core    AA
9       310604         EE       8       EE202             core    AB

### 2.b

In [56]:
grade_value={'AP':10,'AA':10,'AB':9,'BB':8,'BC':7,'CC':6,'CD':5,'DD':4}

import pandas as pd
df=pd.read_csv(r"C:\Users\Mahima\Downloads\student_records.csv")
df['Grade Numerical Value']=df['grade'].map(grade_value)
df['Total Credits']=df['Grade Numerical Value']*df['credit']
df.to_csv(r"C:\Users\Mahima\Downloads\student_records.csv", index=False)

In [57]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Mahima\Downloads\student_records.csv")
print(df.head(10))

   roll_number department  credit course_name      course_type grade  \
0       588946         MA       3       EC250  hasmed_elective    AB
1       145372         EP       4       EP407  hasmed_elective    CC
2       834515         MA       8       EP885  hasmed_elective    BB
3       344265        CSE       6      CSE699          honours    AB
4       358405         MA       3       EE460            minor    AP
5       781075         CE       8       CE540          honours    CC
6       180828        CSE       6       CE880            minor    AB
7       981238         MM       4      CSE226            minor    AB
8       836881         MM       8       MM530             core    AA
9       310604         EE       8       EE202             core    AB

   Grade Numerical Value  Total Credits
0                      9             27
1                      6             24
2                      8             64
3                      9             54
4                     10             30
5                      6             48
6                      9             54
7                      9             36
8                     10             80
9                      9             72

In [65]:
import pandas as pd
df=r"C:\Users\Mahima\Downloads\student_records.csv"

data = pd.read_csv(df)

grouping = data.groupby('roll_number').agg(sum_of_credits=('credit', 'sum'),sum_of_total_weighted_credits=('Total Credits', 'sum')).reset_index()
grouping['CPI'] = grouping['sum_of_total_weighted_credits'] / grouping['sum_of_credits']
new_file = r"C:\Users\Mahima\Downloads\student_records_CPI.csv"
grouping.to_csv(new_file, index=False)
print("Saved to", new_file)

Saved to C:\Users\Mahima\Downloads\student_records_CPI.csv

In [68]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Mahima\Downloads\student_records_CPI.csv")
print(df.head(10))

   roll_number  sum_of_credits  sum_of_total_weighted_credits       CPI
0       124663             229                           1861  8.126638
1       138296             200                           1655  8.275000
2       143142             234                           2055  8.782051
3       143856             201                           1706  8.487562
4       144528             228                           1860  8.157895
5       145372             173                           1340  7.745665
6       150503             173                           1434  8.289017
7       159438             176                           1475  8.380682
8       180828             177                           1433  8.096045
9       194063             157                           1278  8.140127

### 2.c

In [78]:
import pandas as pd
student_records=pd.read_csv(r"C:\Users\Mahima\Downloads\student_records.csv")
CBT=student_records.groupby(["roll_number", "course_type"])["credit"].sum().unstack(fill_value=0)
req_to_pass={"core": 20,"department_elective": 15,"flexible_elective": 10,"hasmed_elective": 5}
eligible_students=credits_by_type.loc[(CBT.get("core",0)>= req_to_pass["core"]) &(CBT.get("department_elective", 0) >= req_to_pass["department_elective"]) &
(CBT.get("flexible_elective", 0) >= req_to_pass["flexible_elective"]) &(CBT.get("hasmed_elective", 0) >= req_to_pass["hasmed_elective"])]
eligible_roll_numbers=eligible_students.index.tolist()
print("Eligible roll numbers:",eligible_roll_numbers)
#used help from friends

Eligible roll numbers: [124663, 143142, 143856, 144528, 150503, 159438, 180828, 203200, 207443, 214270, 265922, 282482, 283796, 294697, 310604, 327122, 362471, 379479, 381227, 388969, 391848, 461971, 482623, 485484, 488661, 500658, 517837, 521087, 534763, 571782, 572815, 581065, 581858, 588946, 608522, 608952, 626000, 628849, 630568, 681499, 692318, 703403, 716985, 721490, 750259, 773982, 781075, 782129, 787967, 810863, 834515, 836881, 845623, 871746, 879634, 881983, 888886, 928288, 955757, 960395, 970791, 971123, 973158, 981238, 986057, 998293]

### 2.d

In [79]:
import pandas as pd
student_records=pd.read_csv(r"C:\Users\Mahima\Downloads\student_records.csv")
MINOR_CREDIT_REQUIREMENT = 10
student_minor_credits = {}
for _,row in student_records.iterrows():
    roll_number=row["roll_number"]
    course_type=row["course_type"]
    credit=row["credit"]
    if course_type=="minor":
        if roll_number not in student_minor_credits:
            student_minor_credits[roll_number]=0
        student_minor_credits[roll_number]+=credit
eligible_minor_roll_numbers=[roll_number for roll_number,total_minor_credits in student_minor_credits.items()
                               if total_minor_credits >= MINOR_CREDIT_REQUIREMENT
]
print("Roll numbers of students who completed a minor:", eligible_minor_roll_numbers)

#used help from friends

Roll numbers of students who completed a minor: [358405, 180828, 981238, 847809, 270007, 781075, 986057, 124663, 364146, 517837, 721490, 150503, 571782, 716985, 194063, 265922, 482623, 329535, 207443, 810863, 973158, 143142, 970791, 907454, 888886, 608522, 608952, 143856, 773982, 960395, 283796, 461584, 879634, 597353, 845623, 465496, 718510, 534763, 680096, 836881, 787967, 344265, 581858, 391848, 485484, 775967, 138296, 381526, 681499, 816041, 971123, 199713, 630568, 379479, 362471, 703403, 388969, 836431, 582912, 381227, 478606, 159438, 733782, 782129, 144528, 851029, 881983, 458200, 998293, 628849, 995208, 613401, 301135, 500658, 488661, 788020, 626000, 955757, 841365, 750259, 572815, 521087, 214270, 461971, 692318, 145372, 588946, 834515, 208100, 871746, 327122, 581065, 203200, 294697, 993835, 282482]

### 2.e

In [80]:
import pandas as pd
student_records = pd.read_csv(r"C:\Users\Mahima\Downloads\student_records.csv")
HONOURS_CREDIT_REQUIREMENT=10
CORE_CREDIT_REQUIREMENT=20
honours_credits={}
core_credits={}
for _,row in student_records.iterrows():
    roll_number=row["roll_number"]
    course_type=row["course_type"]
    credit=row["credit"]
    if course_type=="honours":
        if roll_number not in honours_credits:
            honours_credits[roll_number]=0
        honours_credits[roll_number]+=credit
    if course_type=="core":
        if roll_number not in core_credits:
            core_credits[roll_number] =0
        core_credits[roll_number] += credit

eligible_honours_roll_numbers = [
    roll_number for roll_number in honours_credits
    if honours_credits[roll_number] >= HONOURS_CREDIT_REQUIREMENT and
       core_credits.get(roll_number, 0) >= CORE_CREDIT_REQUIREMENT
]

print("Roll numbers of students who completed honours:", eligible_honours_roll_numbers)

Roll numbers of students who completed honours: [781075, 871746, 718510, 214270, 613401, 836881, 703403, 581858, 608952, 628849, 572815, 970791, 144528, 571782, 124663, 716985, 485484, 626000, 971123, 458200, 845623, 787967, 482623, 379479, 207443, 282482, 955757, 203200, 294697, 881983, 960395, 143856, 327122, 143142, 721490, 888886, 581065, 630568, 589528, 465496, 364146, 159438, 750259, 986057, 998293, 870642, 773982, 521087, 834515, 782129, 582912, 388969, 681499, 692318, 310604, 973158, 199713, 517837, 265922, 788020, 488661, 928288, 362471, 500658, 588946, 534763, 391848, 283796, 150503, 208100, 461971, 810863, 608522, 879634, 145372]